@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: white;
    color: black;
}

h1 {
    font-family: 'Muli', sans-serif;
    font-size: 4rem;
    margin: 1rem;
    text-align: center;
}

.btn-group {
    display: flex;
    flex-direction: row;
}

.ch5-button .cb-btn {
    background: linear-gradient(#4488ff, #2244ee);
    border: solid 2px #002288;
    color: #fafafa;
    border-radius: 1.5rem;
    padding: 2rem;
    margin: 0.5rem;
    font-size: 2rem;
}

.ch5-button--selected .cb-btn {
    background: linear-gradient(180deg, #cc6600, #ff8800);
    border: solid 2px #111111;
    color: #111111;
    outline: none;
}
