@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: white;
    color: black;
}

h1 {
    font-family: 'Muli', sans-serif;
    font-size: 4rem;
}

h2 {
    font-family: 'Muli', sans-serif;
    font-style: italic;
    font-size: 2rem;
    font-weight: normal;
    text-align: center;
    color: rebeccapurple;
}